body{
    background-color: rgb(58, 58, 58);
    color: aliceblue;
}
.container{
    display: block;
    background-color: rgb(81, 80, 80);
    border-color:rgb(11, 191, 201);
    width: 100%;
    height: 70px;
    border-inline-start: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    box-shadow: 0 3px 20px 1px;
}
.sj{
    color: #dd0202;
    font-family: serif;
    font-style: italic;
    margin-left: 50px;
    font-size: 50px;
    font-weight: bolder;
    margin-top:-10px;
    text-shadow: 0 2px 5px;
    text-shadow: 0 2px 3px;
    cursor: pointer;
}
.Studio{
    color: #e8c427;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -39px;
    margin-left: 5px;
    text-shadow: -2px 2px 3px;
    cursor: pointer;
}
a{
    display: flex;
    text-decoration: none;
    color: #27dbe8;
    text-align: center;
    display: flex;
    background-color: rgb(89, 112, 130);
    width: 80px;
    height: 45px;
    border-color: blue;
    border-width: 2px ;
    border-style: solid;
    box-shadow: 0 0 10px 3px rgba(255,255, 255.0.8); 
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
}
.taskbar{
    display: flex;
    gap: 20px;
    margin-left: 70%;
    flex-direction: row; /* இதுதான் முக்கியம்: கிடைமட்டத்திலிருந்து செங்குத்தாக மாற்றுகிறது */
    align-items: flex-start;
    margin-top: -70px;
    
    
}
.taskbar1{
    display: flex;
    background-color: rgb(89, 112, 130);
    width: 80px;
    height: 45px;
    border-color: blue;
    border-width: 2px ;
    border-style: solid;
    box-shadow: 2px 2px 10px rgb(116, 235, 253);  
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
    
}
.taskbar2{
    display: flex;
    background-color: rgb(89, 112, 130);
    width: 80px;
    height: 45px;
    border-color: blue;
    border-width: 2px ;
    border-style: solid;
    box-shadow: 2px 2px 10px rgb(116, 235, 253);  
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
}
a:hover{
    color: #e8c427;
    box-shadow: 2px 2px 10px rgb(213, 255, 5);
    width: 90px;
    height: 55px;
    
}
a:active{
     color: #e86727;
 text-shadow: 0 2px 5px;
 text-shadow: 0 2px 3px;
}
.Studio:hover{
 color: #e86727;
 text-shadow: 0 2px 5px;
 text-shadow: 0 2px 3px;
}
.sj:hover{
    color: #fff017;
 text-shadow: 0 2px 5px;
 text-shadow: 0 2px 3px;
}
.notice{
    display: flex;
    color: rgb(57, 156, 243);
    background-color: #344041;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 20px;
    font-size: 15px;
    justify-content: center;
    border-radius: 5px;
    text-shadow: 0 2px 5px red;
    text-shadow: 0 2px 3px red;
     box-shadow: 0 2px 5px blue;
    box-shadow : 0 2px 3px blue;
}
.notice1{
    text-align: center;
    margin-top: -1px;
    box-shadow: 0 2px 5px blue;
    box-shadow : 0 2px 3px blue;
}
.body2{
    color: #e86727;
}
.site-footer{
    display: block;
    margin-top:250px ;
    justify-content: center;
    text-align: center;
}
.container1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    align-items: center;
    margin-content:center;
    justify-content: center;
    color: aliceblue;
    background-color: #617475;
    width: 30%;
    height: 200px;
    border-radius: 9px;
    border-style: solid;
     text-shadow: 0 2px 5px red;
    text-shadow: 0 2px 3px red;
    font-size: 40px;
    cursor: pointer;
    padding-left: 10px;
}
.container1:hover{
    text-shadow: 0 2px 5px rgb(238, 22, 148);
    text-shadow: 0 20px 5px rgb(160, 21, 105);
    box-shadow: 15 20px 50px blue;
    box-shadow : 10px 10px 30px blue;
}
.btn{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 3px rgba(255,255, 255.0.8);   
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 45px;
    padding-left: -90px;
    padding-right: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-shadow: 0 2px 5px rgb(238, 22, 148);
    text-shadow: 0 20px 5px rgb(160, 21, 105);
    box-shadow: 15 20px 50px blue;
    box-shadow : 10px 10px 30px blue;
    text-align: 20px;
    margin-content:center;
    justify-content: center flex-end;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ad{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 20px;
}